html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 80px;

}
.navbar-static-bottom {
    position:absolute;
    bottom: 0;
    width: 100%;
nav {
    margin-bottom: 20px;
}
a {
    color:black;
}
pre {
    background-color:#d4cece;
}
